#content {
	margin-top: 100px;
}

.survey-data {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 0px 80px;
}

.survey-data h2, .details-link {
	text-align: center;
}

.details-link {
	display: block;
	color: #6DB1A5;
	text-decoration: none;
}

.survey-data p {
	margin-left: 50px;
}

.reminder-button {
	display: block;
	color: #FFFFFF;
	background-color: #4A514B;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}

canvas {
	display: block;
	margin: 30px 25px 0px 25px;
}

/* OVERLAY */
#overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: none;
}

#overlay-popup {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	background-color: #6DB1A5;
	border: 1px solid #000000;
	border-radius: 10px;
	overflow: scroll;
}

#overlay-content {
	width: 600px;
	max-width: 90%;
	margin: 0px auto;
}